
.display {
  margin: auto;
  /*text-align: center;*/
  /*background-color: black;*/
  width: 50%;
  padding: 10px;
  text-align: center;
}

#todolist{
  width: 300px;
  background-color: white;
  margin: auto;
  padding: 0;
}

/*#todolist li{
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}*/

/* Delete Box */

#delete{
  clear: left;
}

table, th, td{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 60%;

}

/*.checkbox-regular{
  width: 50px;
  display: inline;
  margin-left: 5em;
}*/

.searchBox{
  width: 50px;
}

.searchResult{

}

input {
  width: 150px;
}
miss-input {
  width: 10%;
  border: 2px solid red;
}


/* Navigation Bar*/

.nav-bar {
  z-index: 1;
  overflow: hidden;
  background-color: #333;
  height: 48px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-bar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-bar a:hover {
    background-color: #111;
}

/*work list box*/

.workblock{
  display: block;
  width: inherit;
  background-color: #F5F5F5;
  padding: 15px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: left;

  border-left: 10px solid #FF9966;
  border-right: 2px solid #FF9966;
}

li.workblock:hover {
  background-color: #FFFFFF;
}

.checkbox-list{
  display: inline;
  margin-left: 13em;
}
