table, th, td{
  border: 2px solid red;
  margin-left: 15px;
}

.checkbox-regular{
  width: 25px;
  position: relative;
}

.searchBox{
  width: 10%
}

.searchResult{

}

input {
  width: 10%;
}
miss-input {
  width: 10%;
  border: 2px solid red;
}


/* Navigation Bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
