
.display {
  margin: auto;
  /*text-align: center;*/
  /*background-color: black;*/
  width: 50%;
  padding: 10px;
  text-align: center;
}

table, th, td{
  border: 2px solid blue;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
}

/*.checkbox-regular{
  width: 50px;
  display: inline;
  margin-left: 5em;
}*/

.searchBox{
  width: 10%
}

.searchResult{

}

input {
  width: 10%;
}
miss-input {
  width: 10%;
  border: 2px solid red;
}


/* Navigation Bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*work list box*/

workblock{
  display: block;
  width: 50%;
  background-color: #F5F5F5;
  padding: 15px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: left;

  border-left: 10px solid #FF9966;
  border-right: 2px solid #FF9966;
}

.checkbox-list{
  display: inline;
  margin-left: 13em;
}
