{% extends "layout.html" %}

{% block title %} Home {% endblock %}
{% block main %}
  <body>
    <div class="display">
    <form id="search">
      Search: <input type="text" style="input" class="searchBox" placeholder="Type..">
    </form>
    <p class="searchResult">
    </p>
    <form id="target">
      ToDo : <input type="text" style="input" name="todo" id="todoname" placeholder="what to do?">
      <input type="submit" value="click">
    </form>
    <table id="todolist">
      <tr>
        <td> JOB </td>
        <td> DONE </td>
      </tr>
    </table>
    <button id="delete" action="{{url_for('index')}}" method="post">delete</button>
    </div>
  </body>
{% endblock %}
