<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename="css/main.css")}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="css/simple-sidebar.css")}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{url_for('static',filename="script/main.js")}}"></script>
    <title>TODOLIST {% block title %}{% endblock %}</title>
  </head>
  <body onresize="changeDisplay()">
    <div class="nav-bar">
        <a class="active" id="menu-toggle" href="#">Folder</a>
        <a class="active" href="{{url_for('index')}}">Home</a>
    </div>
    <div id="wrapper">
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
            <li class="sidebar-brand">
              <a href="#">
                  Folder list
              </a>
            </li>
            <li>
              <a href="#">test1</a>
            </li>
            <li>
              <a href="#">test2</a>
            </li>
          </ul>
      </div>



          <!-- Sidebar -->
        <div id="page-content-wrapper">
        <main>
          {% block main %}{% endblock %}
        </main>
      </div>
  </div>
  </body>
</html>
